@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');


progress {
  z-index: 90;
  top: 50px;
  left: -10px;
  position: relative;
  width: 80px;
  height: 10px;
  appearance: none;
}
progress::-webkit-progress-bar {
  background:#f0f0f0;
  border: white 1px solid;
  border-radius:10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
progress::-webkit-progress-value {
  border-radius:10px;
  background: #1D976C;
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
  background: linear-gradient(to right, #93F9B9, #1D976C);

}

.horse.runRight {
	width: 96px;
	height: 60px;
	display: block;
	background-position: 0px -320px;
	animation: horseRight steps(1) 0.5s  infinite;
}

@keyframes horseRight {
	0%, 100% {background-position: 0px -320px; }
	50% {background-position: 0px -512px;}
}


@keyframes horseUp {
	0%, 100% {background-position:0px -192px; }
	33% {background-position:0px -380px; }
	66% {background-position:0px 0px;}
}

.horse.jump {
	animation-iteration-count: 500;
	transform: rotate(0deg);
	margin-top: 0;
	animation-direction: initial, initial;
	background-position: 0px -320px;
	 animation-fill-mode: backwards;
	animation: jump 1s;
}


@keyframes jump {
	0%{
		margin-top: 0;
		transform: rotate(-20deg);

	}
	50% {margin-top: -32px;}
	100% { margin-top: 0; transform: rotate(0deg); }

}


.horse1 {
  background-image: url(/public/images/horse1.png);
}

.horse2 {
	background-image: url(/public/images/horse2.png);
}

.horse3 {
	background-image: url(/public/images/horse3.png);
}

.horse4 {
	background-image: url(/public/images/horse4.png);
}

.horse {
  left: 2vw;
  margin-top: 10px;
  position: relative;
}

.horse .rider .head {
	position: absolute;
	margin-left: 40px;
	margin-top: -9px;
	width: 32px;
	height: 32px;
}


.horse .rider .body {
  position: absolute;
 	width: 32px;
 	height: 32px;
 	margin-left: 40px;
 	margin-top: 8px;
}

.horse1 .rider .head {background-image: url(/public/images/head2.png);}
.horse1 .rider .body {background-image: url(/public/images/body2.png);}

.horse2 .rider .head {
  margin-top: -15px;
  background-image: url(/public/images/head4.png);
}
.horse2 .rider .body {background-image: url(/public/images/body4.png);}

.horse4 .rider .head {background-image: url(/public/images/head3.png);}
.horse4 .rider .body {background-image: url(/public/images/body3.png);}

.horse3 .rider .head {background-image: url(/public/images/head1.png);}
.horse3 .rider .body {background-image: url(/public/images/body1.png);}




.horse.runDown .rider, .horse.runRight .rider, .horse.runLeft .rider{
	animation: riderBob1 0.75s infinite;
}

.horse.runLeft .rider .body {
	background-position: -32px -320px;
}



.horse.runRight .rider {
	margin-left: -15px;
}

.horse.runRight .rider .head {
	background-position: 0px -96px;
	animation: headbob4 0.5s infinite;
}

.horse.runRight .rider .body {
	background-position: -96px -320px;
}


@keyframes headbob4 {
   0%, 100% { margin-left: 40px; }
     50% { margin-left: 42px; }
}

@keyframes headbob5 {
   0%, 100% { margin-top: -10px; }
     50% { margin-top: -8px; }
}


@keyframes riderBob1 {
	 0%, 100% { margin-top: 8px; }
     50% { margin-top: 10px; }
}

@keyframes riderBob2 {
	 0%, 100% { margin-top: 18px; }
     50% { margin-top: 20px; }
}

.sprint {
  position: absolute;
  width: 100px;
  top: 20px;
  left: -5px;
  color: red;
  z-index: 999999;
  background-color: white;
}

.sprint.effect {
  position: absolute;
  top: -85px;
  left: -50px;
  width: 192px;
  height: 192px;
  z-index: -20;
  animation: sprint 0.5s steps(5) infinite;
}

.sprint.back {
  background: transparent url(/public/images/skills/skill-a-back.png) 0 0 no-repeat;
}

.sprint.front {
  z-index: 1;
  background: transparent url(/public/images/skills/skill-a-front.png) 0 0 no-repeat;
}

@keyframes sprint {
  100% { background-position: -960px 0;}
}

.active-skill {
  font-family: 'Dokdo', cursive;
  position: absolute;
  top: 0px;
  left: -200px;
  font-size: 4em;
  z-index: 99;
  width: 300px;
  -webkit-text-stroke: black 1px;
  text-transform: uppercase;
  color: #ff4203;
  animation: text-effect 1s ease infinite;
}

@keyframes text-effect {
  0%,
  100% {
    color: #ff4203;
  }

  50% {
    color: #fff;
  }
}

.username {
  position: absolute;
  text-align: left;
  color: white;
  -webkit-text-stroke: black 1px;
  left: 100px;
  font-size: 3em;
  width: 300px;
}

.username span {
  font-size: 0.5em;
  -webkit-text-stroke: white 0.3px;
}