:root {
  --main-line-length: 650;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  position: relative;
}

body {background-image: url(/public/images/bg.png); margin: 0; padding: 0; font-family: calibri, sans-serif;}

.track, .scroll {position: relative;}

#finishline {
  top: 0px;
	width: 2vw;
	height: 70vh;
  background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:1vw 1vw;
  position: absolute;
  opacity: 0.7;
}

body {overflow: hidden;}

.track { margin-top: 70px; height: 70vh;}

#scroll {
  overflow-x: hidden;
  overflow-y: visible;

  width: 100vw; height: 85vh; margin-top: -70px;
}

.section {
  top: 0px;
  position: absolute;
  height: 70vh;
}

.section.early {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ), url(/public//images/map/tile_1.png);
}

.section.mid {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ), url(/public//images/map/tile_2.png);
}

.section.end {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ), url(/public//images/map/tile_3.png);
}

.section.last {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
  ), url(/public//images/map/tile_4.png);
}

.top-board {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.info-board {
  margin-top: 20px;
  border: white 2px solid;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10%;
  width: 50%;
  height: 100px;
  align-items: center
}

.info-board.move-center {
  animation-duration: 2s;
  animation-name: move-center;
  animation-fill-mode: forwards;
}

@keyframes move-center {
  from {
    position: absolute;
    z-index: 100;
  }

  to {
    background-color: rgba(4,4,4, 0.7);
    height: 300px;
    width: 70%;
    font-size: 2em;
    position: absolute;
    margin-top: 50%;
    z-index: 100;
    visibility: visible;
  }
}

.info-board > div {
  width: 33%;
  font-size: 3em;
  color:#eee;
}

.nowSection {
  position: relative;
  margin-top: 20px;
  font-size: 3em;
  color:#eee;
}

.bush {
  background:url(/public/images/bush.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0px;
  z-index: 30;
}

.bush.top {
  top: -30px;
}

.bush.bottom {
  bottom: -30px;
}


.btn-panel {
  position: absolute;
  top: 0px;
  width: 55%;
  height: 225px;
  background-color: rgba(44, 44, 44, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 100;
}

.btn-panel > button {
  font-size: 3em;
  padding: 30px;
}

.hidden {
  visibility: hidden;
}